[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "~=4.8.0"
dlib = "~=19.24"
imutils = "~=0.5"
keyboard = "~=0.13"
face-recognition = "~=1.3"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
