[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "~=4.8.0"
dlib = "~=19.24"
imutils = "~=0.5"
face-recognition = "~=1.3"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
